<div class="header">
    <div class="user-profile">
        <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill"></i>
                <span class="username">{{ user.last_name }}</span>
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
                <li>
                    <a class="dropdown-item" href="#">
                        <!-- <i class="fas fa-user-circle me-2"></i> -->
                        <i class="bi bi-person-circle"></i>
                        Thông tin tài khoản
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form method="POST" action="{% url 'logout_admin' %}">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">
                            <i class="bi bi-box-arrow-right"></i>
                            Đăng xuất
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>