<div class="sidebar">
    <ul class="sidebar-menu">
        {% if request.user.groups.all.0.name == 'manager' or request.user.groups.all.0.name == 'expert'%}
        {% if request.user.groups.all.0.name == 'manager' %}
        <li class="sidebar-item">
            <a href="{% url 'information' %}" class="menu-item">
                <i class="bi bi-mortarboard"></i>
                <span>Quản lý thông tin trường</span>
            </a>
        </li>
        {% endif %}
        <li class="sidebar-item">
            <a href="{% url 'news' %}" class="menu-item">
                <i class="bi bi-newspaper"></i>
                <span>Quản lý tin tức</span>
            </a>
        </li>
        {% endif %}
        {% if request.user.groups.all.0.name == 'expert'%}
        <li class="sidebar-item">
            <a href="#" class="menu-item expandable" id="post-management">
                <i class="bi bi-card-list"></i>
                <span>Quản lý lịch hẹn</span>
                <i class="bi bi-chevron-right arrow"></i>
            </a>
            
            <ul class="submenu" id="post-submenu">
                <li class="submenu-item-wrapper">
                    <a href="{% url 'schedule' %}" class="submenu-item">
                        <i class="bi bi-newspaper"></i>
                        <span>Lịch đã đăng ký</span>
                    </a>
                </li>
                <li class="submenu-item-wrapper">
                    <a href="{% url 'schedule_customer' %}" class="submenu-item">
                        <i class="bi bi-receipt"></i>
                        <span>Lịch hẹn với khách hàng</span>
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}
        
        {% if request.user.groups.all.0.name == 'admin' %}
        <li class="sidebar-item">
            <a href="{% url 'accounts' %}" class="menu-item">
                <i class="bi bi-card-list"></i>
                <span>Quản lý tài khoản</span>
            </a>
        </li>
        {% endif %}

        {% if request.user.groups.all.0.name == 'manager' %}
        <li class="sidebar-item">
            <a href="{% url 'schedule_customer' %}" class="menu-item">
                <i class="bi bi-receipt"></i>
                <span>Lịch hẹn với khách hàng</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'expert' %}" class="menu-item">
                <i class="bi bi-people"></i>
                <span>Quản lý chuyên gia</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>